* {
  user-select: none;
}
.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container .loaderApp {
  width: 100px;
  height: 100px;
  border: 16px solid rgb(247, 246, 246);
  border-radius: 50%;
  border-top: 16px solid rgb(7, 141, 141);
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.App {
  position: relative;
  /* width: 100vw; */
  overflow-x: hidden;
}
.compare-contaier {
  box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);

  padding: 10px 25px;
  color: white;
  font-weight: 500;
  position: fixed;
  z-index: 9000000000;
  color: red;
  background-color: orange;
  bottom: 10px;
  left: 90%;
}
