.my-product {
  width: 100%;
  margin: auto;
  /* border: 1px solid black; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
/* .my-product .my-product-left {
  width: 45%;
  position: ;
  top: 0;
  border: 1px solid salmon;
  /* border: 1px solid black;
} */

.my-product .my-product-left {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  height: 600px;
  position: sticky;
  top: 0px;
  /* border: 1px solid grey; */
}
.my-product .my-product-left ul li:hover {
  list-style: none;
  border-left: 6px solid teal;
  margin-bottom: 5px;
  padding-left: 10px;
}
.my-product .my-product-left ul li:nth-child(1) {
  font-weight: 500;
}
.my-product .my-product-left ul li {
  list-style: none;
  border-left: 3px solid teal;
  margin-bottom: 5px;
  padding-left: 10px;
  font-weight: 450;
  font-size: 16px;
}
.my-product .my-product-left img {
  width: 100%;
  height: auto;
  /* height: auto; */
}

.my-product .my-product-right {
  /* border: 1px solid black; */
  width: 45%;
  max-height: 100%;
  overflow-y: scroll;
}
.my-product .prodact {
  width: 100%;
  min-height: 400px;
  min-height: 300px;
  border: 1px solid lightgray;
  box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.233);
  margin: 2px;
  margin-bottom: 1rem;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.my-product .prodact .left {
  width: 200px;
  height: 250px;
  /* border: 1px solid teal; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.my-product .prodact .left img {
  max-width: 190px;
  height: 230px;
  object-fit: contain;
  /* border: 1px solid teal; */
}
.my-product .prodact .right {
  flex: 1;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  /* border: 1px solid teal; */
}
.my-product .prodact .right .row label {
  /* padding: 10px 0px; */
  color: teal;
  font-weight: 500;
}
.my-product .prodact .right .bottom {
  text-align: right;
  margin-right: 30px;
  color: teal;
  background-color: white;
  box-shadow: none;
}
.my-product .prodact .right .bottom .edit:hover {
  color: red;
}
.my-product .prodact .right .bottom .edit .edit-icon,
h3 {
  display: inline;
}
.my-product .prodact .right .bottom .edit .edit-icon {
  position: relative;
  top: 4px;
}
.my-product .prodact .right .bottom .submit .check-circle {
  position: relative;
  top: 4px;
}

.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 40px;
  height: 40px;

  margin: auto;
  position: relative;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
