.mono-product-outer {
  /* border: 1px solid black; */
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  margin-top: 3px;
}

.mono-product-image {
  height: 600px;
  width: 550px;
  border: 1px solid #f0f0f0;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  position: sticky;
  top: 0px;
}
.mono-Pimage-left {
  width: 70px;
  /* height: 70px; */
  /* border: 1px solid #f0f0f0; */
  display: flex;
  flex-direction: column;
}
.mono-Pimage-right {
  flex: 1;
  width: 480px;
  /* border: 1px solid #cecdcd; */
}
#p-sample-image {
  height: 70px;
  width: 100%;
  object-fit: contain;
  border: 1px solid #cecdcd;
  margin-top: 2px;
}
#p-sample-image:hover {
  padding-bottom: 2px;
  border-bottom: 2px solid teal;
}
#p-main-image {
  width: 80%;
  height: 90%;
  margin-left: 10%;
  object-fit: contain;

  /* border: 1px solid #cecdcd; */
}
.mono-cart-buy {
  width: 80%;
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mono-cart-buy button:hover {
  transform: scale(1.02, 1.02);
}
.mono-cart-buy button {
  width: 49%;
  padding: 18px 8px;
  border-radius: 2px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  background: #ff9f00;
  color: #fff;
  border: none;
  font-family: monospace;
  font-size: 18px;
  display: inline-block;
  font-weight: 500;
  outline: none;
  cursor: pointer;
  transition: 0s all;
}
.mono-cart-buy button:nth-child(2) {
  background: #fb641b;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 20%);
  border: none;
  color: #fff;
}
/* .mono-Pimage-right {
} */

.mono-product-detials {
  flex: 1;
  /* border: 1px solid #cecdcd; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mono-product-detials .col {
  margin-left: 10px;
  margin-bottom: 8px;
}
.mono-product-detials #plabel {
  color: black;
}
.mono-product-detials #price span:nth-child(1) {
  color: #212121;
  font-size: 19px;
  font-weight: 500;
}
.mono-product-detials #price span:nth-child(2) {
  color: #353535;
  font-size: 15px;
  font-weight: 500;
  margin-left: 12px;
  text-decoration: line-through;
}
.mono-product-detials #price span:nth-child(3) {
  margin-left: 12px;
  font-size: 15px;
  font-weight: 500;
  color: #388e3c;
}
.mono-product-detials #pdescription {
  display: flex;
  flex-direction: row;
}
.mono-product-detials #pdescription span {
  font-weight: 500;
  width: 150px;
  color: #878787;
}
.mono-product-detials #pdescription pre {
  margin-left: 15px;
  font-family: inherit;
  font-size: 15px;
}
.mono-product-detials #pstatus {
  display: flex;
  flex-direction: row;
}
.mono-product-detials #pstatus span {
  font-weight: 500;
  width: 150px;
  color: #878787;
}
.mono-product-detials #pstatus p {
  margin-left: 15px;
  font-family: inherit;
  font-size: 15px;
  color: green;
}
.mono-product-detials #pwarspan {
  display: flex;
  flex-direction: row;
  /* border: 1px solid black; */
}
.mono-product-detials #pwarspan span {
  font-weight: 500;
  width: 150px;
  color: #878787;
}

.mono-product-detials #pwarspan p {
  color: black;
  font-family: inherit;
  letter-spacing: 0;
  /* font-weight: 500; */
}
.mono-product-detials #pwarspan .warspan-col {
  display: flex;
  flex-direction: column;
}
