.signup {
  width: 100%;
  min-height: 90vh;
  display: flex;
  align-items: center;
}
.signup .left {
  width: 60%;
}
.signup .right {
  width: 40%;
}
.signup .right .row {
  width: 100%;
  margin-bottom: 10px;
}

.signup .right .row span {
  color: red;
}
.signup .right .row #green {
  color: green;
}
.signup .right .row input {
  width: 400px;
  margin: auto;
}
.signup .right .row {
  width: 400px;
  margin: auto;
}
.signup .right .row .message {
  color: green;
  font-weight: 600;
}

.signup .right .row .red {
  color: red;
  font-weight: 600;
}
.loader {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 20px;
  height: 20px;
  /* display: inline-block; */
  margin-top: 5px;
  margin-left: 22px;
  position: relative;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
