.signup {
  width: 800px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  min-height: 90vh;
  display: flex;
  /* align-items: center; */
  /* border: 1px solid saddlebrown; */
}
.signup .left {
  width: 600px;
  min-height: 90vh;
  background-color: teal;
  color: white;
  padding: 20px;
  font-weight: 600;
  /* border: 1px solid black; */
}
.signup .right {
  width: 400px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border: 1px solid #3498db; */
}

.signup .right .row #btnc,
.signup .right .row span {
  /* border: 1px solid black; */
  width: 350px;
  margin-left: 25px;
}
.signup .right .row input {
  width: 350px;
  margin: auto;
  display: inline-block;
  /* margin-top: 25px; */
}
.signup .right .row {
  width: 400px;
  margin: auto;
}
.signup .right .row .message {
  color: green;
  font-weight: 600;
}

.signup .right .row .red {
  color: red;
  font-weight: 600;
}
.signup .right .bottom {
  width: 350px;
  margin: auto;
}
.login .right .bottom p:nth-child(2) {
  width: 350px;
  color: black;
  font-weight: 500;
  text-align: center;
  margin: auto;
}
.signup .right .bottom p {
  width: 350px;
  color: teal;
  font-weight: 600;
  text-align: center;
  margin: auto;
  cursor: pointer;
}
.loader {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  border-top: 3px solid #3498db;
  width: 20px;
  height: 20px;
  /* display: inline-block; */
  margin-top: 5px;
  margin-left: 22px;
  position: relative;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
