.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .top {
  width: 800px;
  margin: 20px auto;
}
.container .top li {
  margin-bottom: 10px;
  border-left: 2px solid teal;
  padding-left: 10px;
  list-style: none;
}
.container .top li:nth-child(1),
.container .top li:nth-child(5) {
  font-weight: 500;
}
form .bottom {
  width: 300px;
  margin: 10px auto;
}
form .bottom input {
  margin: 20px;
}
